@mixin static(){
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
}
@mixin absolute(){
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width:  $ova-width !important;
    height: $ova-height !important;
}
@mixin reset(){
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}
@mixin position( $x, $y, $width, $height){
    top: $y;
    left: $x;
    width: $width;
    height: $height;
}
@mixin desktop {
    @media only screen and (min-width: 700px) {
        position: absolute;
        @content;
    }
}
@mixin small {
    @media only screen and (max-width: 699px) {
        background-size: 100%;
        background-position: center;
        @content;
    }
}