#credits{
    &_close{
        cursor: pointer;
        @include small(){
            display: none;
        }
        @include desktop(){
            top: 10px;
            right: 20px;
        }
    }
    @include desktop(){
        top: 120px;
        left: 250px;
    }
    &_title{
        @include desktop(){
            top: 40px;
            left: 30px;
        }
    }
    &_text{
        li{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Century Gothic Regular';
            font-size: 1.2rem;
        } 
    }
}
#btn_credits{
    cursor: pointer;
    @include desktop(){
        top: 10px;
        left: 20px;
        z-index: 1;
    }
    @include small(){
        display: none;
    }
}
