.questions{
    display: flex;
    flex-direction: column;
    @include desktop(){
        top: 300px;
        left: 300px;
    }
    li{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        div:nth-child(1) {
            width: 40%;
            overflow: hidden;
        }
        div:nth-child(2) {
            width: 60%;

        }
        div{
            position: static;
            display: flex;
            justify-items: center;
            align-items: center;
            margin-left: 10px;
            max-height: 200px;
        }
        img {
            max-width: 100%;
        }
    }
}
#stage1 {    
   
    background: {
        image: url(./images/slider1_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto;
        padding: 50px 50px 80px 50px;
        background-size: cover;
    };

    &_title {
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
        @include desktop() {
            top: 200px;
            left: 300px;
        };
    };

    &_btn_start {
        @include desktop() {
            right: 10px;
            bottom: 10px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage2 {   
    background: {
        image: url(./images/slider2_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto;
        padding: 50px 50px 80px 50px;
        background: #d2f1ef;
    };

    &_btn_1,
    &_btn_2,
    &_btn_3,
    &_btn_4 {
        cursor: pointer;
        @include desktop() {
            left: 675px;
        };
        @include small() {
            padding-bottom: 15px;
        };
    };

    &_btn_1 {
        @include desktop() {
            top: 150px;
        };
    };

    &_btn_2 {
        @include desktop() {
            top: 250px;
        };
    };

    &_btn_3 {
        @include desktop() {
            top: 350px;
        };
    };

    &_btn_4 {
        @include desktop() {
            top: 450px;
        };
        @include small() {
            display: none;
        };
    };

    &_textos {
        width: 700px;
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        font-size: large;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        @include desktop() {
            top: 130px;
            left: 50px;
            width: 400px;
            height: 400px !important;
        };
        p:nth-child(1) {
            display: block;
        };
        p:nth-child(2) {
            display: none;
        };
        p:nth-child(3) {
            display: none;
        };
    };
    
    &_estilo_parrafo_1,
    &_estilo_parrafo_2,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
};

#stage3 {  
    background: {
        image: url(./images/slider3_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;
        background: #00A99D;
    };

    &_titulo {
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
        @include desktop() {
            top: 200px;
            left: 422px;
        };
    };
    &_btn_ingresar {
        @include desktop() {
            left: 508px;
            top: 430px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage4 { 
    background: {
        image: url(./images/slider4_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;    
        background: #d2f1ef;
    };
    
    &_btn_1,
    &_btn_2,
    &_btn_3,
    &_btn_4,
    &_btn_5 {
        cursor: pointer;
        @include small() {
            display: none;
        };
    };

    &_btn_1 {
        @include desktop() {
            left: 195px;
            top: 132px;
        };
    };
    &_btn_2 {
        @include desktop(){
            left: 594px;
            top: 122px;
        };
    };
    &_btn_3 {
        @include desktop() {
            left: 386px;
            top: 223px;
        };
    };
    &_btn_4 {
        @include desktop() {
            left: 195px;
            top: 324px;
        };
    };
    &_btn_5 {
        @include desktop() {
            left: 594px;
            top: 324px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            top: 547px;
            left: 166px;
            width: 678px;
            height: 80px !important;
        };
        @include small() {
            margin: 30px 0 30px 0;
        };
    };
    
    &_estilo_parrafo_1,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
    
    &_estilo_parrafo_2 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
};

#stage5 { 
    background: {
        image: url(./images/slider5_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;
        background: #00A99D;
    };

    &_btn_1,
    &_btn_2 {
        @include desktop() {
            left: 345px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    }
    
    &_btn_1 {
        @include desktop() {
            top: 113px;
        };
    };
    &_btn_2 {
        @include desktop() {
            top: 213px;
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 39px;
            top: 560px;
        };
    };
    
    &_btn_siguiente {
        @include desktop() {
            left: 913px;
            top: 560px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            top: 547px;
            left: 183px;
            width: 647px;
            height: 73px !important;
        };
        @include small() {
            margin: 30px 0 30px 0;
        };
    };
    
    &_estilo_parrafo_1,
    &_estilo_parrafo_2 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
};

#stage6 { 
    background: {
        image: url(./images/slider6_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;    
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    };
    &_btn_fortaleza,
    &_btn_oportunidad,
    &_btn_debilidad,
    &_btn_amenaza {
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };
    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };
    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};
#stage6_1 { 
    background: {
        image: url(./images/slider6_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;    
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    };
    &_btn_A,
    &_btn_B,
    &_btn_C,
    &_btn_D {
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };
    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };
    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};
#stage6_2 { 
    background: {
        image: url(./images/slider6_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;    
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    };
    &_btn_A,
    &_btn_B,
    &_btn_C,
    &_btn_D {
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };
    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };
    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };
    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage7 {
    background: {
        image: url(./images/slider7_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
    };

    &_texto_1,
    &_texto_2 {
        width: 500px;
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;
        line-height: normal;
        @include desktop {
            left: 385px;
            font-size: large
        };
        
        @include small {           
            width: 100% !important;
        };
    };

    &_texto_1 {
        top: 180px;        
        @include small {            
            font-size: large;
        };
    };

    &_texto_2 {
        top: 340px;
        font-size: x-large;
    };
    
    &_estilo_parrafo_1 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    
    &_estilo_parrafo_2,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
    
    &_estilo_parrafo_4 {
        font-family: 'Century Gothic Bold';
        color: #79C000;
    };

    &_btn_menu {
        @include desktop {
            left: 652px;
            top: 478px;
            cursor: pointer;
        };

        @include small {
            display: none;
        };
    };
};

#stage8 {
    background: {
        image: url(./images/slider8_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
    };

    &_btn_1, 
    &_btn_2, 
    &_btn_3, 
    &_btn_4, 
    &_btn_5 {
        @include desktop {
            cursor: pointer;
            margin-bottom: 10px;
        };
        
        @include small {
            display: none;
        };
    };
    
    &_btn_1 {
        @include desktop {
            left: 220px;
            top: 120px;
        };
    };
    
    &_btn_2 {
        @include desktop {
            left: 620px;
            top: 120px;
        };
    };
    
    &_btn_3 {
        @include desktop {
            left: 412px;
            top: 240px;
        };
    };
    
    &_btn_4 {
        @include desktop {
            left: 220px;
            top: 350px;
        };
    };
    
    &_btn_5 {
        @include desktop {
            left: 620px;
            top: 350px;
        };
    };
    
    &_imagen_1 {
        @include desktop {
            left: 436px;
            top: 150px;
        };        
        @include small {
            display: none;
        };
    };
    
    &_texto_1,
    &_texto_2 {
        width: 700px;
        height: auto;
        left: 160px;
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        line-height: normal;
        @include small {            
            width: 100% !important;
        };
    };
    
    &_texto_1 {
        font-family: 'Century Gothic Regular';
        @include desktop {
            top: 500px;
        };
        @include small {
        };
    };
    &_estilo_parrafo_1 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
    &_estilo_parrafo_2,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    
    &_texto_2 {
        font-family: 'Century Gothic Bold';
        @include desktop {
            top: 580px;
            font-size: x-large;
        };
        @include small {
            font-size: x-large;
        };
    };
    
    &_estilo_texto_2 {
        font-weight: bolder;
        color: #79C000;
    };
};

#stage9 {
    background: {
        image: url(./images/slider9_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_coercitivo, 
    &_btn_democratico, 
    &_btn_autoritario, 
    &_btn_participativo, 
    &_btn_instruccion {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    
    &_btn_atras {
        cursor: pointer;
        @include desktop {
            left: 40px;
            top: 20px;
        };        
        @include small {
            display: none;
        };
    };
    
    &_btn_siguiente {
        cursor: pointer;
        @include desktop {
            left: 920px;
            top: 20px;
        };        
        @include small {
            display: none;
        };
    };
    
    &_texto_1,
    &_texto_2 {
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;   
        line-height: normal;    
        @include small {           
            width: 100% !important;
        };
    };
    
    &_texto_1 {        
        font-size: large;
        @include desktop {
            left: 150px;
            top: 40px;
            width: 700px;
        };
    };
    
    &_texto_2 {
        font-size: large;
        @include desktop {
            left: 150px;
            top: 140px;
            width: 700px;
        };        
        @include small {   
        };
    };

    &_boxes {
        @include small(){
            width: 100% !important;
            height: 120px;
            display: flex;
            justify-content: center;
        }
        @include desktop() {
            top: 530px;
            left: 340px;
            width: 800px;
            height: 70px !important;
        };
        
        img {
            position: absolute;
        }
    };

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        font-size: small;
        color:#fff;
        @include desktop {
            left: 860px;
            top: 580px;
            width: auto;
        };      
        @include small {
            display: none;
        };
    };
    
    &_btn_instruccion {
        @include desktop {
            left: 940px;
            top: 540px;
        };       
        @include small {
            display: none;
        };
    };
};

#stage10 {    
    background: {
        image: url(./images/slider10_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_flexibilidad, 
    &_btn_dominio, 
    &_btn_portavoz, 
    &_btn_locus, 
    &_btn_instruccion {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    
    &_btn_atras {
        @include desktop {
            left: 40px;
            top: 20px;
            cursor: pointer;
        };        
        @include small {
            display: none;
        };
    };
    
    &_btn_siguiente {
        @include desktop {
            left: 920px;
            top: 20px;
            cursor: pointer;
        };        
        @include small {
            display: none;
        };
    };
    
    &_texto_1,
    &_texto_2 {
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;   
        line-height: normal;     
        @include small {           
            width: 100% !important;
        };
    };
    
    &_texto_1 {        
        font-size: large;
        @include desktop {
            left: 150px;
            top: 50px;
            width: 700px;
        };
    };
    
    &_texto_2 {
        font-size: large;
        @include desktop {
            left: 150px;
            top: 150px;
            width: 700px;
        };        
        @include small {   
        };
    };

    &_boxes {
        @include small(){
            width: 100% !important;
            height: 120px;
            display: flex;
            justify-content: center;
        }
        @include desktop() {
            top: 530px;
            left: 340px;
            width: 800px;
            height: 70px !important;
        };
        
        img {
            position: absolute;
        }
    };

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        font-size: small;
        @include desktop {
            left: 860px;
            top: 580px;
            width: auto;
            color:#fff;
        };      
        @include small {
            display: none;
        };
    };
    
    &_btn_instruccion {
        @include desktop {
            left: 940px;
            top: 540px;
        };       
        @include small {
            display: none;
        };
    };
}

#stage11 {    
    background: {
        image: url(./images/slider11_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };
    
    &_btn_atras {
        cursor: pointer;
        @include desktop {
            left: 40px;
            top: 20px;
        };        
        @include small {
            display: none;
        };
    };
    
    &_btn_siguiente {
        cursor: pointer;
        @include desktop {
            left: 920px;
            top: 20px;
        };        
        @include small {
            display: none;
        };
    };

    &_btn_clima, 
    &_btn_estrategias, 
    &_btn_escuchar, 
    &_btn_fortalezas, 
    &_btn_instruccion {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    
   
    
    
    
    &_texto_1,
    &_texto_2 {
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;   
        line-height: normal;     
        @include small {           
            width: 100% !important;
        };
    };
    
    &_texto_1 {        
        font-size: large;
        @include desktop {
            left: 150px;
            top: 50px;
            width: 700px;
        };
    };
    
    &_texto_2 {
        font-size: large;
        @include desktop {
            left: 150px;
            top: 150px;
            width: 700px;
        };        
        @include small {   
        };
    };

    &_boxes {
        @include small(){
            width: 100% !important;
            height: 120px;
            display: flex;
            justify-content: center;
        }
        @include desktop() {
            top: 530px;
            left: 340px;
            width: 800px;
            height: 70px !important;
        };
        
        img {
            position: absolute;
        }
    };

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };
    
    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        font-size: small;
        @include desktop {
            left: 860px;
            top: 580px;
            width: auto;
            color:#fff;
        };      
        @include small {
            display: none;
        };
    };
    
    &_btn_instruccion {
        @include desktop {
            left: 940px;
            top: 540px;
        };       
        @include small {
            display: none;
        };
    };
}

#stage12 {
    background: {
        image: url(./images/slider12_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_texto_1 {
        width: 500px;
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;
        line-height: normal;
        @include desktop {
            left: 385px;
            font-size: large
        };
        
        @include small {           
            width: 100% !important;
        };
    };

    &_texto_1 {
        top: 180px;        
        @include small {            
            font-size: large;
        };
    };
    
    &_estilo_parrafo_1,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    
    &_estilo_parrafo_2,
    &_estilo_parrafo_4  {
        font-family: 'Century Gothic Bold';
        color: #000;
    };

    &_btn_menu {
        @include desktop {
            left: 652px;
            top: 478px;
            cursor: pointer;
        };

        @include small {
            display: none;
        };
    };
};

#stage13 { 
    background: {
        image: url(./images/slider13_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
    };

    &_btn_poder_1 {
        cursor: pointer;
        @include desktop() {
        };
        @include small {            
            display: none;
        };
    };

    &_imagen_lateral {
        @include desktop() {
            // z-index: 1;
        };
        @include small {            
            display: none;
        };
    };

    &_btn_lateral {
        @include desktop() {
            cursor: pointer;
            left: 840px;
            top: 380px;
        };
        @include small {            
            display: none;
        };
    };    
    
    &_btn_1,
    &_btn_2,
    &_btn_3,
    &_btn_4,
    &_btn_5 {
        cursor: pointer;
        @include small() {
            display: none;
        };
    };

    &_btn_1 {
        @include desktop() {
            left: 195px;
            top: 132px;
        };
    };
    &_btn_2 {
        @include desktop(){
            left: 594px;
            top: 122px;
        };
    };
    &_btn_3 {
        @include desktop() {
            left: 386px;
            top: 223px;
        };
    };
    &_btn_4 {
        @include desktop() {
            left: 195px;
            top: 324px;
        };
    };
    &_btn_5 {
        @include desktop() {
            left: 594px;
            top: 324px;
        };
    };
    
    &_texto_1,
    &_texto_2 {
        width: 700px;
        height: auto;
        left: 160px;
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        line-height: normal;
        @include small {            
            width: 100% !important;
        };
    };

    &_texto_1 {
        font-family: 'Century Gothic Regular';
        @include desktop {
            top: 500px;
        };
        @include small {
        };
    };

    &_texto_2 {
        font-family: 'Century Gothic Bold';
        @include desktop {
            top: 580px;
            font-size: x-large;
        };
        @include small {
            font-size: x-large;
        };
    };
    
    &_estilo_parrafo_1 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
    &_estilo_parrafo_2 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #79C000;
    };
};

#stage14 { 
    background: {
        image: url(./images/slider14_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_marketing,
    &_btn_aranceles,
    &_btn_sucursales,
    &_btn_indicadores {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };
    &_boxes {
        @include small(){
            width: 100% !important;
            height: 120px;
            display: flex;
            justify-content: center;
        }
        @include desktop() {
            top: 530px;
            left: 340px;
            width: 800px;
            height: 70px !important;
        };
        
        img {
            position: absolute;
        }
    };

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
         visibility: hidden;
        @include small() {
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage15 { 
    background: {
        image: url(./images/slider15_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_creatividad,
    &_btn_resolucion,
    &_btn_gerencia,
    &_btn_toma {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };

    
    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage16 { 
    background: {
        image: url(./images/slider16_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_proveedor,
    &_btn_directivo,
    &_btn_lider,
    &_btn_colaborador {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage17 {
    background: {
        image: url(./images/slider17_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
    };

    &_texto_1{
        width: 500px;
        height: auto;
        margin-bottom: 10px;
        font-family: 'Century Gothic Regular';
        text-align: center;
        line-height: normal;
        @include desktop {
            left: 385px;
            font-size: large
        };
        
        @include small {           
            width: 100% !important;
        };
    };

    &_texto_1 {
        top: 180px;        
        @include small {            
            font-size: large;
        };
    };
    
    &_estilo_parrafo_1,
    &_estilo_parrafo_4 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    
    &_estilo_parrafo_2,
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };

    &_btn_menu {
        @include desktop {
            left: 652px;
            top: 478px;
            cursor: pointer;
        };

        @include small {
            display: none;
        };
    };
};

#stage18 { 
    background: {
        image: url(./images/slider18_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #d2f1ef;
    };

    &_btn_poder_1 {
        cursor: pointer;
        @include desktop() {
            // z-index: 1;
        };
        @include small {            
            display: none;
        };
    };

    &_btn_poder_2 {
        cursor: pointer;
        @include desktop() {
            left: 70px;
        };
        @include small {            
            display: none;
        };
    };

    &_imagen_lateral {
        @include desktop() {
            // display: none;
        };
        @include small {            
            display: none;
        };
    };

    &_btn_lateral {
        @include desktop() {
            cursor: pointer;
            left: 840px;
            top: 380px;
        };
        @include small {            
            display: none;
        };
    };
    
    &_btn_1,
    &_btn_2,
    &_btn_3,
    &_btn_4,
    &_btn_5 {
        cursor: pointer;
        @include small() {
            display: none;
        };
    };

    &_btn_1 {
        @include desktop() {
            left: 195px;
            top: 132px;
        };
    };
    &_btn_2 {
        @include desktop(){
            left: 594px;
            top: 122px;
        };
    };
    &_btn_3 {
        @include desktop() {
            left: 386px;
            top: 223px;
        };
    };
    &_btn_4 {
        @include desktop() {
            left: 195px;
            top: 324px;
        };
    };
    &_btn_5 {
        @include desktop() {
            left: 594px;
            top: 324px;
        };
    };
    
    &_texto_1 {
        width: 700px;
        height: auto;
        left: 160px;
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        line-height: normal;
        @include small {            
            width: 100% !important;
        };
    };

    &_texto_1 {
        font-family: 'Century Gothic Regular';
        @include desktop {
            top: 500px;
        };
        @include small {
        };
    };
    
    &_estilo_parrafo_1 {
        font-family: 'Century Gothic Bold';
        color: #00A99D;
    };
    &_estilo_parrafo_2 {
        font-family: 'Century Gothic Bold';
        color: #000;
    };
    
    &_estilo_parrafo_3 {
        font-family: 'Century Gothic Bold';
        color: #79C000;
    };
};

#stage19 { 
    background: {
        image: url(./images/slider19_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };
    
    &_btn_especifica,
    &_btn_personal,
    &_btn_social,
    &_btn_profesional {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };

    

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage20 { 
    background: {
        image: url(./images/slider20_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_administrativas,
    &_btn_organizacional,
    &_btn_proceso,
    &_btn_emocional {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };


    
    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };

    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage21 { 
    background: {
        image: url(./images/slider21_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;        
        background: #D9E021;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    };

    &_btn_compartir,
    &_btn_hacer,
    &_btn_mantener,
    &_btn_participar {
        margin-bottom: 10px;
        cursor: pointer;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    };

    

    &_box_1,
    &_box_2,
    &_box_3,
    &_box_4 {
        visibility: hidden;
        @include small() {
        };
    };


    &_btn_atras,
    &_btn_siguiente {
        @include desktop() {
            top: 30px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_atras {
        @include desktop() {
            left: 35px;
        };
    };

    &_btn_siguiente {
        @include desktop() {
            left: 910px;
        };
    };

    &_texto {
        font-family: 'Century Gothic Regular';
        text-align: center;
        font-size: large;
        line-height: normal;
        @include desktop() {
            left: 160px;
            top: 40px;
            width: 680px;
            height: auto !important;
        };
        @include small() {
            margin: 30px 0 65px 0;
        };
    };

    &_texto_instruccion {
        font-family: 'Century Gothic Bold';
        text-align: center;
        font-size: small;
        color: #fff;
        font-weight: bold;
        line-height: normal;
        @include desktop() {
            left: 825px;
            top: 580px;
            width: 95px;
            height: auto !important;
        };
        @include small() {
            display: none;
        };
    };

    &_btn_instruccion {
        @include desktop() {
            left: 925px;
            top: 557px;
            cursor: pointer;
        };
        @include small() {
            display: none;
        };
    };
};

#stage22 {   
    background: {
        image: url(./images/slider22_fondo.png);
        color: #fff;
        repeat: no-repeat;
    };
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;
        background: #00A99D;
    };

    &_texto {
        @include desktop() {
            top: 130px;
            left: 150px;
            width: 400px;
            height: auto !important;
        };
        @include small() {
            // display: none;
        };
    };

    &_btn_grafico {
        cursor: pointer;
        @include desktop() {
            left: 230px;
            top: 480px;
        };
        @include small() {
            padding-bottom: 15px;
            display: none;
        };
    };

};

#stage23 {   
    @include desktop() {
        background: {
            image: url(./images/slider23_fondo.png);
            color: #fff;
            repeat: no-repeat;
        };

    };
    
    @include small() {
        height: auto !important;
        padding: 50px 50px 80px 50px;
        background: {
            color: #fff;
            repeat: no-repeat;
        };
    };
    &_fondo{
        @include small() {
            display: none;
        }
    }

    &_grafico {
        @include desktop() {
            left: 140px;
            top: 90px;
        };
        @include small() {
            padding-bottom: 15px;
        };
    };

};
